<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.panta.mapper.arrange.ArrangeMapper">
    <resultMap id="BaseResultMap" type="com.panta.model.arrange.ArrangeModle">
        <id property="id" column="id"/>
        <id property="name" column="name" />
        <id property="linuxAddress" column="linuxAddress" />
        <id property="executeCommand" column="executeCommand" />
    </resultMap>

    <select id="queryDataList" resultMap="BaseResultMap">
        SELECT id,`name`,linuxAddress,executeCommand FROM panta_arrangeProject a
    </select>
    
    <insert id="saveData" parameterType="com.panta.model.arrange.ArrangeModle">
        INSERT INTO `panta_arrangeProject`
        ( `name`, `linuxAddress`, `executeCommand`)
         VALUES
        (#{name}, #{linuxAddress}, #{executeCommand})
    </insert>

    <update id="updateData" parameterType="com.panta.model.arrange.ArrangeModle">
        UPDATE panta_arrangeProject SET name = #{name} , linuxAddress = #{linuxAddress},executeCommand = #{executeCommand}  WHERE id = #{id}
    </update>
    
    <delete id="deleteData" parameterType="com.panta.model.arrange.ArrangeModle">
        DELETE FROM panta_arrangeProject where id = #{id}
    </delete>

</mapper>
